/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  left: 120px;
  right: 120px;
  bottom: 56px;
  top: 0;
  position: absolute;
  padding: 0;
}

.btn-outline-primary {
  margin: 0 10px 0 0;
  outline-color: #3875b5 !important;
}

.btn-outline-primary:hover {
  background-color: #3875b5 !important;
}
