---
layout: default
---
<style>
    #loading-message {
        display: none;
    }
    .loading *:not(.loading-both):not(.loading-both *) {
        display: none;
    }
    .loading #loading-message {
        display: block !important;
    }
    #content-hierarchy a {
        margin: 1rem;
        margin-bottom: calc(1rem - 5px);
    }
    #content-hierarchy h2 {
        margin: 2rem;
    }
    #content-hierarchy h2 a {
        text-decoration: none;
    }
    #content-hierarchy h2, #content-hierarchy a {
        z-index: 3;
        background: white;  
        border-bottom: 5px white solid;
    }
    #content-hierarchy svg {
        position: absolute;
    }
    #content-hierarchy svg line {
        stroke: black;
    }
</style>

<div id="parent-container" class="loading">
    <div class="text-white container-primary loading-both mb-5">
        <p class="mt-3 lead display-6" id="titlebar" style="font-weight: 450;">Loading...</p>
    </div>
    <div id="loading-message" class="g-5 p-5 pt-0">Loading...</div>
    <div id="content-hierarchy" class="g-5 p-5 pt-0 d-flex flex-column align-items-center"></div>
    <div class="row g-5 px-5 justify-content-between">
        <div id="content-match" class="col-md-auto d-flex flex-column align-items-center"></div>
        <div id="content-related" class="col-md-auto d-flex flex-column align-items-center"></div>
    </div>
</div>

<script src="{{ "/assets/js/graph_browser.js" | relative_url }}"></script>
<script>
    let renderer = new Browser()
    renderer.initialize()
</script>

    
</div>