---
layout: default
---

<div class="text-white container-primary">
    <p class="mt-3 lead display-6" id="titlebar" style="font-weight: 450;">Invalid entity!</p>
</div>

<script>
    window.addEventListener('hashchange', loadEntity);
    loadEntity();

    function loadEntity() {
        let entity = window.location.hash;
        if(entity.length <= 2 || entity[0] != "#" || entity[1] != "C") {
            document.getElementById("titlebar").innerHTML = "Invalid entity!";
            document.getElementById("contentdiv").innerHTML = "";
        }
        entity = entity.substring(2);
        document.getElementById("titlebar").innerHTML = "Entity C"+entity;
        let pathBase = `/assets/data`
        $.get(`${pathBase}/${String(Math.floor(entity/1000)).padStart(2, 0)}/C${entity}.jsonld`, function(data) {
            document.getElementById("contentdiv").innerText = data.responseText || data;
        });
    }
</script>

<div id="contentdiv" class="row g-5 p-5">
    
</div>