---
layout: default
---
<style>
    .loading-message {
        display: none;
    }
    .loading *:not(.loading-both):not(.loading-both *) {
        display: none;
    }
    .loading .loading-message {
        display: block !important;
    }
</style>

<div id="parent-container" class="loading">
    <div class="text-white container-primary loading-both">
        <p class="mt-3 lead display-6" id="titlebar" style="font-weight: 450;">Loading...</p>
    </div>
    <div class="loading-message g-5 p-5">Loading...</div>
    <div id="content-hierarchy" class="g-5 p-5"></div>
    <div class="row g-5 px-5 justify-content-between">
        <div id="content-match" class="col-md-auto d-flex flex-column align-items-center"></div>
        <div id="content-related" class="col-md-auto d-flex flex-column align-items-center"></div>
    </div>
</div>

<script src="{{ "/assets/js/graph_browser.js" | relative_url }}"></script>
<script>
    let renderer = new Browser()
    renderer.initialize()
</script>

    
</div>